body{
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    gap: 5px;
}

header, main, article, footer, nav{
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

nav{
    flex-direction: column;
    display: flex;
}

h2{
    font-size: 18px;
}

article{
    margin: 5px;
}

footer{
    flex-direction: row;
    display: flex;
    align-items: center;
}