body{
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    gap: 10px;
}

header, main, article, footer, nav{
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

nav{
    flex-direction: column;
    display: flex;
    
}

h2{
    font-size: calc(18px);
}

article{
    margin: 5px;
    height: 20vh;
}

footer{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
}